@model HomeViewModel

<h1 class="header">@Model.Title</h1>
@foreach (var necklace in Model.Necklaces)
{
  <div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
      <img src="@necklace.ImageThumbnailUrl"alt="" />

      <div class="caption">
        <h3 class="pull-right">@necklace.Price.ToString("c")  </h3>
        <h3>
          <a asp-controller="Home" asp-action="Details" asp-route-id="@necklace.Id">@necklace.Name</a>
        </h3>
        <p>@necklace.Description</p>
      </div>
    </div>
  </div>
}
